body {
  overflow: hidden;
}
h1, h2 {
    font-family: Cambay;
    font-weight: bold;
    margin-bottom: 0.5em;
}

button {
	margin-bottom: 2em;
}

img {
	height:700px;
  width: auto;
  left: 7em;
  top: 3%;
  position: fixed;
}

.alltext {
  float: right;
  display: inline-block;
	text-align: center;
	height: auto;
	min-width: 20%;
  max-width: 40%;
  min-height: 23em;
	line-height: 90%;
	list-style-type: none;
	margin-top: 0.1em;
  margin-right: 5em;
  margin-bottom: 1em;
	padding-right: 1em;
}
.title {
  position: fixed;
}
.maintext {
  margin-right: 3em;
  overflow-y: scroll;
  height: 500px;
  margin-top: 7.5em;
}
p, .contact, .biography {
   font-family: Raleway;
   font-size: 1.2em;
   line-height: 2em;
   margin-top: 0.7em;
}

.contact, .biography, .skillset, .hobbies {
	border-style: solid;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  margin-top: 2em;
}

.biography {
  margin-bottom: 1.5em;
}

@media screen and (max-width: 1170px) {
  img {
    display: none;
  }
  a {
    color: #ff4000;
  }
  body {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .alltext {
    min-width: 30%;
    max-width: 80%;
    float: none;
    display: block;
    text-align: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }


  .maintext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    background-image: url(../imgs/DSC_1640.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 50% 10%;
    background-size: cover;
    color: rgb(255, 255, 255);
    height: auto;
    max-height: 600px;
    width: 100%;
    overflow: scroll;
    text-align: center;
    padding: 1em 3em 1em 3em;
  }
}

@media screen and (max-device-width: 1170px) {
  .maintext {
    max-height: 1000px;
  }
  .title {
    font-size: 1.4em;
  }
  h1, h2 {
    font-size: 2em;
  }
  p, .contact, .biography, .skillset, .hobbies {
     font-size: 1.5em;
  }
}


@media screen and (max-device-width: 642px) {
  .maintext {
    max-height: none;
    margin-top: 5em;
    height: 1000px;
    width: 700px;
    background-size: cover;
  }
  .title {
    font-size: 1.6em;
  }
  h1, h2 {
    font-size: 2.3em;
  }
  p, .contact, .biography, .skillset, .hobbies {
     font-size: 1.2em;
  }
}

@media screen and (max-device-width: 411px) {
  .title {
    font-size: 1.6em;
  }
  h1, h2 {
    font-size: 2.5em;
  }
  .alltext {
    max-width: 90%;
  }
  .maintext {
    margin-top: 7em;
    height: 1100px;
  }
  p, .contact, .biography, .skillset, .hobbies {
     font-size: 1.7em;
  }
}
