:root {
  --primary-font: 'Merriweather', serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-color: #000;
  --secondary-color: #0010;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

html {
  scroll-behavior: smooth;
}

h1, h2 {
    font-family: var(--primary-font);
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
}

h1 {
  font-size: 60px;
}

h3 {
  font-family: var(--primary-font);
  margin-bottom: 1em;
  margin-top: 1em;
}

h4 {
  font-family: var(--secondary-font);
  font-weight: bold;
}

button {
	margin-bottom: 2em;
}

.github, .twitter, .google_scholar, .linkedin {
  display: inline;
  height: 30px;
  transition: all 0.4s;
}

.github:hover, .twitter:hover, .linkedin:hover, .google_scholar:hover {
  transform: scale(1.3);
}

.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Github, .Twitter, .Google_scholar, .Linkedin {
  flex: 1 1 0em;
  margin-left: 2em;
  margin-right: 2em;
}

.image {
  float: left;
  margin-left: 2em;
  width: auto;
  height: 20em;
  border-radius: 10px;
  overflow: hidden;
  display: block;
}

.biography {
  border: 2.0px solid #000;
  display: block;
  border-radius: 10px;
  height: 20em;
  overflow: scroll;
  margin-left: 19em;
  margin-right: 2em;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.alltext {
	text-align: center;
	line-height: 90%;
}

.title {
  height: auto;
}

.main {
  clear: both;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2.5em;
}

p, ul {
   font-family: var(--secondary-font);
   font-size: 1.2em;
   line-height: 2em;
}

.research_interests, .favorite_books {
  text-align: center;
}

.research_interests ul, .hobbies ul, .favorite_books ul {
  list-style-type: none;
  list-style-position: none; /* Keep the bullet points inside the list items */
  padding-left: 0; /* Remove default left padding of the ul */
  text-align: center;
}

.research_interests li, .hobbies li, .favorite_books {
  text-align: center;
}

.contact, .skillset, .publications, .hobbies, .research_interests, .favorite_books {
  border: 2.0px solid #000;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  margin-top: 2em;
}

footer {
    width: 100%;
    font-family: var(--primary-font); 
    margin: 5px auto;
    text-align: center;
}

.skillset {
  text-align: center; /* Center the text within the skillset container */
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  width: 8em;
  flex: 1 1 auto;
  margin-left: 2em;
  margin-right: 2em;
}

.contact {
  padding-right: 8em;
  padding-left: 8em;
}

@media screen and (max-device-width: 600px) {
  h1 {
    font-family: var(--primary-font);
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }

  h2 {
      font-family: var(--primary-font);
      font-size: 4em;
      font-weight: bold;
      margin-bottom: 1em;
      margin-top: 0.5em;
  }

  h3 {
    font-family: var(--primary-font);
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }

  h4 {
    font-size: 3em;
  }

  footer {
    font-size: 2em;
  }

  p, ul {
     font-family: var(--secondary-font);
     font-size: 2.5em;
     line-height: 2em;
  }

  .image {
    float: none;
    clear: both;
    height: 50em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-bottom: 5em;
  }

  .outer {
    clear: both;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2.5em;
  }
  .main {
    padding-left: 0;
    padding-right: 0;
  }

  .biography {
    clear: both;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    margin-top: 2em;
  }

  .github, .twitter, .google_scholar, .linkedin {
    display: inline;
    height: 70px;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .Github, .Twitter, .Google_scholar, .Linkedin {
    margin-left: 5em;
    margin-right: 5em;
  }

  .skill {
    width: 30em;
    flex: 1 1 auto;
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media screen and (max-width: 800px) {

  .image {
    float: none;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }

  .outer {
    clear: both;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2.5em;
  }

  .main {
    padding-left: 0;
    padding-right: 0;
  }

  .biography {
    clear: both;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    margin-top: 2em;
  }

  .contact {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media screen and (min-width:1500px) {
  .alltext {
    width: 1500px;
    margin: auto;
  }
}
