h1, h2 {
    font-family: Cambay;
    font-weight: bold;
    margin-bottom: 0.5em;
}

button {
	margin-bottom: 2em;
}

img {
	height: 700px;
  width: auto;
  left: 5%;
  top: 50%;
  position: absolute;
  transform: translate(0,-50%);
}

.alltext {
  float: right;
  display: inline-block;
	text-align: center;
	height: auto;
	min-width: 20%;
  max-width: 40%;
  min-height: 23em;
	line-height: 90%;
	list-style-type: none;
  position: absolute;
  top: 50%;
  margin-right: 5em;
	padding-right: 1em;
  transform: translate(0,-50%);
}
.title {
  margin-right: 3em;
  height: auto;
}
.maintext {
  margin-right: 3em;
  overflow-y: scroll;
  height: 35em;
  margin-top: 3em;
}
p, .contact, .biography {
   font-family: Raleway;
   font-size: 1.2em;
   line-height: 2em;
   margin-top: 0em;
}

.contact, .biography, .skillset, .hobbies {
	border-style: solid;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  margin-top: 2em;
}

.biography {
  margin-bottom: 1.5em;
}

@media screen and (max-width: 1185px) {
  img {
    display: none;
  }
  a {
    color: black;
  }
  body {
    overflow: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
  }

  .subtitle {
    margin-bottom: 1em;
  }
  .alltext {
    margin-top: 0.5em;
    margin-bottom: 1em;
    min-width: 100%;
    position: relative;
    transform: none;
    /*max-width: 80%;*/
    display: block;
    text-align: center;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
    padding: 0em 0em;
  }
  .maintext {
    display: block;
    margin-top: 3em;
    background-image: url(../imgs/DSC_1640.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 50% 10%;
    background-size: cover;
    color: rgb(255, 255, 255);
    height: auto;
    max-height: 600px;
    width: 100%;
    overflow: scroll;
    text-align: center;
    padding: 1em 2em 1em 2em;
  }
}

@media screen and (max-device-width: 1170px) {

  .alltext{
    display: inline-block;
    text-align: center;
    min-width: 100%;
  }

  .maintext {
    max-height: 1000px;
  }
  .title {
    font-size: 1.4em;
  }
  h1, h2 {
    font-size: 2em;
  }
  p, .contact, .biography, .skillset, .hobbies {
     font-size: 1.5em;
  }
}


@media screen and (max-device-width: 642px) {
  .maintext {
    max-height: none;
    min-width: 100%;
    margin-top: 5em;
    height: 1000px;
    background-size: cover;
  }
  .title {
    font-size: 1.6em;
  }
  h1, h2 {
    font-size: 2.3em;
  }
  p, .contact, .biography, .skillset, .hobbies {
     font-size: 1.2em;
  }
}

@media screen and (max-device-width: 411px) {
  .title {
    font-size: 1.5em;
  }
  h1 {
    font-size: 2.5em;
  }
  .alltext {
    min-width: 100%;
  }
  .maintext {
    margin-top: 10em;
    height: 1100px;
  }
  p, .contact, .biography, .skillset, .hobbies {
     font-size: 1.7em;
  }
}
